<div class="col col-horizontal-center">
  <div class="col title">
    <p class="dev">
      <a href="https://devchallenges.io/paths/frontEndPaths"><span>Dev</span></a
      >Challenges.io
    </p>
    <p class="owner">
      <a href="https://github.com/valen-developer/"
        ><span>Valentín</span> Valverde</a
      >
    </p>
  </div>

  <div class="col routes">
    <a routerLink="/buttons" routerLinkActive="active">Buttons</a>
    <a routerLink="/inputs" routerLinkActive="active">Inputs</a>
  </div>
</div>
