.material-icons.md-18 {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: black;
}

.box {
  min-height: 100%;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border: none;
  border-radius: 5px;
  outline: none;

  max-width: max-content;
  min-width: 120px;
  margin-top: 20px;

  color: #3f3f3f;
  background-color: #e0e0e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  padding: 10px 15px;

  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #aeaeae;
}

.btn-block {
  max-width: 100%;
  width: 100%;
}

.btn:disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}
.btn:disabled:hover {
  color: #9e9e9e;
  background-color: #e0e0e0;
}

.btn-primary {
  background-color: #2962ff;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #0039cb;
}

.btn-secondary {
  background-color: #455a64;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #1c313a;
}

.btn-danger {
  background-color: #d32f2f;
  color: white;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #9a0007;
}

.btn-outline {
  border: 1px solid #3d5afe;
  background-color: white;
  color: #3d5afe;
  box-shadow: none;
}
.btn-outline:hover,
.btn-outline:focus {
  background-color: #2962ff28;
}

.btn-text {
  background-color: white;
  color: #3d5afe;
  box-shadow: none;
}
.btn-text:hover,
.btn-text:focus {
  background-color: #2962ff28;
}

.btn-story-book {
  padding: 8px 30px;
  background-color: #ff4785;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: none;
  transition: 0.2s;
}
.btn-story-book:hover,
.btn-story-book:focus {
  background-color: #ff4785;
  transform: translate3d(0, -2px, 0);
}

.btn-story-book-outline {
  background-color: white;
  border: 1px solid #ff4785;
  color: #ff4785;
}
.btn-story-book-outline:hover,
.btn-story-book-outline:focus {
  background-color: white;
  border: 1px solid #ff4785;
  color: #ff4785;
}

.sm {
  min-width: 20px;
  min-height: 20px;
  padding: 5px 10px;
}
.md {
  min-width: 60px;
  padding: 6px 12px;
}
.lg {
  min-width: 120px;
  padding: 12px 16px;
}

.disable-shadow {
  box-shadow: none;
}

.credits {
  margin-top: 30px;
}

.icon-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.color-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 80%;
}

@media screen and (max-width: 1200px) {
  .icon-buttons {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .btn {
    min-height: 50px;
  }

  .icon-buttons {
    width: 60%;
  }

  .credits {
    font-size: 1.5rem;
  }
  .credits > div {
    margin-bottom: 20px;
  }
}
@media screen and (max-height: 500px) {
  .btn {
    min-height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .icon-buttons {
    width: 100%;
  }
  .color-buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
