<div class="col box fade-in">
  <div class="row row-w1">
    <button class="btn">Default</button>
  </div>

  <div class="row row-w1">
    <button class="btn btn-outline">Outline</button>
  </div>

  <div class="row row-w1">
    <button class="btn btn-text">Text</button>
  </div>

  <div class="row row-w1">
    <button class="btn btn-primary disable-shadow">No Shadow</button>
  </div>

  <div class="row row-w1">
    <button class="btn" disabled>Disabled</button>
  </div>

  <div class="row row-w4 row-space-between">
    <button class="btn btn-primary">
      <span class="material-icons md-18"> local_grocery_store </span> Icons
    </button>
    <button class="btn btn-primary">
      Icons <span class="material-icons md-18"> local_grocery_store </span>
    </button>
  </div>

  <div class="row row-w6 row-space-between">
    <button class="btn btn-primary sm">Small</button>
    <button class="btn btn-primary md">Medium</button>
    <button class="btn btn-primary lg">Large</button>
  </div>

  <div class="row row8 row-space-between">
    <button class="btn">Default</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-danger">Danger</button>
  </div>

  <div class="row row-w4 row-space-between">
    <button class="btn btn-story-book">StoryBook</button>
    <button class="btn btn-story-book btn-story-book-outline">StoryBook</button>
  </div>

  <div class="row row-w10">
    <small
      >Icons:
      <a href="https://material.io/resources/icons/?style=round"
        >Material icons</a
      ></small
    >
  </div>

  <div class="row">
    <small>
      <a href="https://github.com/valen-developer/">Valentín</a> @
      DevChallenges.io
    </small>
  </div>
</div>
