/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  font-weight: bold;
}

.row {
  display: flex;
}
.row-horizontal-center {
  justify-content: center;
}
.row-space-between {
  justify-content: space-between;
}
.row-w1 {
  width: 10%;
}
.row-w2 {
  width: 20%;
}
.row-w4 {
  width: 40%;
}
.row-w6 {
  width: 60%;
}
.row-w8 {
  width: 80%;
}
.row-w10 {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}
.col-horizontal-center {
  align-items: center;
}
.col-w1 {
  width: 10%;
}
.col-w2 {
  width: 20%;
}
.col-w4 {
  width: 40%;
}
.col-w6 {
  width: 60%;
}
.col-w8 {
  width: 80%;
}
.col-w10 {
  width: 100%;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  transition: 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
    margin-top: 10px;
    min-width: 100px;
  }
}
